.header {
  position: relative;
  top: -5px;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  background-color: black;
  margin-bottom: 50px;
  z-index: 1000;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.card {
    height: 700px;
    justify-content: space-between;
    align-items: flex-start;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}